@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Hamburger icon */
.hamburger-icon {
    display: inline-block;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

nav {
    padding: 1rem;
    background-color: #222;

    .nav-con {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .menu {
            display: flex;
            list-style: none;

            li {
                margin: 0 1rem;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

            /* Add this media query */
            @media screen and (max-width: 768px) {
                display: none;
            }

            /* Add this media query */
            @media screen and (min-width: 768px) {
                display: flex;
            }
        }
    }

    /* Mobile menu */
    .mobile-menu {
        list-style: none;
        display: none;

        li {
            margin: 2rem 0;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        /* Add This media query */
        @media screen and (min-width: 768px) {
            display: none !important;
        }
    }
}

.banner {
    padding: 8rem 0;
    /* Add this relative position */
    position: relative;

    /* Add these prev & next class */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #222;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        color: #fff;
        background-color: rgba(0,0,0,0.8);
    }

    .banner-wrapper {
        display: flex;
        justify-content: space-between;

        .banner-left {
            width: 50%;

            .banner-left-title {
                font-size: 2.5rem;
            }

            .banner-left-content {
                margin: 1rem 0;
            }
            
            .banner-left-btn {
                display: inline-flex;
                padding: 1rem 2rem;
                background-color: #222;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }
        }
        .banner-right {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .banner-wrapper {
            flex-direction: column;
            padding: 3rem;

            .banner-left {
                width: 100%;
            }

            .banner-right {
                margin-top: 5rem;
                width: 100%;
            }
        }
    }
}

.wcu {
    padding: 3rem 0;
    background-color: #222;
    color: #fff;

    .wcu-title {
        margin: 1rem;
    }

    .wcu-grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        
        .wcu-grid-item {
            margin: 1rem;
            
            p {
                opacity: 0.7;
            }
        }
    }
}

.cars {
    padding: 3rem 0;

    .cars-title {
        font-size: 2rem;
    }

    .cars-grid {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        gap: 2rem;

        .cars-grid-item {

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            }
            
            /* Modal Content (Image) */
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
            }

            /* The Close Button */
            .close {
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }

            .cars-grid-item-img {
                img {
                    width: 100%;
                    cursor: pointer;
                }
            }

            .cars-grid-item-price {
                font-weight: bold;
                font-size: 28px;
            }

            .cars-grid-item-info {

                /* Add this class */
                .cars-grid-item-desc {
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #fff;
                    padding: 2rem;
                    border-radius: 10px;
                    width: 500px;
                    display: none;

                    .cars-grid-item-desc-x {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        color: #222;
                    }
                }

                .cars-grid-item-btn {
                    display: inline-flex;
                    padding: 0.5rem 1rem;
                    background-color: #222;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 10px;
                }

                .cars-grid-item-buy-btn {
                    display: inline-flex;
                    padding: 0.5rem 1rem;
                    background-color: forestgreen;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        .cars-title {
            padding: 2rem;
        }

        .cars-grid-item {
            padding: 2rem;
        }
    }
}

.faq {

    .faq-title {
        font-size: 2rem;
    }

    .faq-wrapper {
        margin-top: 1rem;

        .accordion-btn {
            background-color: #222;
            color: #fff;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            margin-top: 1rem;
        }
          
        .active, .accordion-btn:hover {
            background-color: #111;
        }
          
        .accordion-panel {
            padding: 2rem 1rem;
            background-color: #fff;
            display: none;
            overflow: hidden;
        }
    }

    @media screen and (max-width: 768px) {

        .faq-title {
            padding: 1rem;
        }

        .faq-wrapper {
            padding: 1rem;
        }
    }
}

footer {    
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

/* Back to top style */

#myBtt {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    border: none; 
    outline: none; 
    background-color: #111; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
  
#myBtt:hover {
    background-color: #333; 
}